.cocktails {
	width: 100%;
	background-color: $primary-dark;
	border-top-left-radius: $radius-xl;
	border-top-right-radius: $radius-xl;
}

.cocktails__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 100px 0;
}

.cocktails__card {
	flex: 1 1 calc(33.3333% - 20px);
	max-width: calc(33.3333% - 20px);
	position: relative;
	border-radius: $radius-lg;
	overflow: hidden;
	min-height: 250px;
	margin-bottom: 30px;
	box-shadow: rgba($black, 0.15) 0px 48px 100px 0px;
	@media screen and (max-width: $sm) {
		flex: 1 1 100%;
		max-width: 100%;
	}

}

.cocktails__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	@media screen and (min-width: $md) {
		&:hover {
			.btn--round {
				width: 170px;
				background: $ternary;
				border-color: $ternary;
				.btn-text--hidden {
					right: 0;
					opacity: 1;
				}
			}
			.cocktails__bg {
				&::after {
					opacity: $opacity-sm;
				}
			}
			.cocktails__info-title {
				color: $neutral-light;
				transform: scale(1.4);
			}
		}
	}
}

.cocktails__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.6);
		transition: $transition-medium;
	}
}

.cocktails__info {
	position: relative;
	z-index: 3;
}

.cocktails__info-title {
	text-transform: uppercase;
	font-size: 40px;
	margin: 20px;
	text-align: left;
	transition: $transition-medium;
	transform-origin: left center;
}

.cocktails__info-btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 2;
}

.cocktails__btn {
	width: fit-content;
	margin: 0 auto;
}

.cocktails__holder {
	padding: 100px 0 200px;
	position: relative;
	@media screen and (max-width: $sm) {
		padding: 30px 0;
	}
}

.cocktail {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $ternary;
	transition: $transition-medium;
	position: relative;
	@media screen and (min-width: $md) {
		&:hover {
			.btn--round-light {
				width: auto;
				background: $ternary;
				border: none;
				border-radius: $radius-xl;
				.btn-text--hidden {
					right: auto;
					opacity: 1;
					color: $primary-dark;
				}
			}
		}
	}
}

.cocktail--active {
	.cocktail__title {
		color: $ternary;
	}
}

.cocktail--inactive {
	border-bottom: 1px solid #6b6a68;
	.cocktail__title {
		color: #6b6a68;
	}
	.btn-text--hidden {
		color: #6b6a68;
	}
}


.cocktail__title {
	text-transform: uppercase;
	color: $secondary-dimmed;
	transition: $transition-medium;
}

.cocktail__img {
	position: absolute;
	max-width: 250px;
	top: 25%;
	left: 40%;
	transform: rotateY(100deg);
	transition: 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	opacity: 0;
    transform-origin: left;
}

.cocktail__img--active {
	opacity: 1;
	transform: rotateY(0);
	transform-origin: left;
}

.cocktails__btn-round {
	@media screen and (max-width: $sm) {
		padding: 10px 5px 10px 20px;
	}
}