.offers {
	// padding: 80px 0;
	overflow-x: hidden;
	position: relative;
	.wrap {
		margin: 0;
		max-width: 100%;
	}
	@media screen and (max-width: $sm) {
		padding: 60px 0;
		.wrap {
			padding: 0;
		}
	}
}

.offers__title {
	color: $secondary;
	text-align: center;
}

.offers__content {
	width: 300vw;
	display: flex;
	// padding: 100px 0;
}

.offers__slide {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	width: 100vw;
	height: 80vh;
	padding: 20vw 10vw;
	@media screen and (max-width: $sm) {
		height: 100vh;
	}
}

.offers__svg {
	position: absolute;
	top: 10vw;
	left: 10vw;
	width: 50vw;
	.mask {
		width: 0;
	}
	@media screen and (max-width: $sm) {
		width: 80vw;
	}
}

.offers__slide-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 80vw;
	height: 100%;
	z-index: -1;
	border-radius: $radius-xl;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.5);
	}
}

.offers__slide-content {
	// position: absolute;
	// z-index: 2;
	// bottom: 20px;
	// right: 20px;
	// padding: 20px;
	// max-width: 400px;
	// background-color: rgba($primary, 0.6);
	// border-radius: $radius-xl;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
	min-height: 50vh;
	padding: 50px;
	@media screen and (max-width: $sm) {
		min-height: 80vh;
	}
}

.offers__item-title {
	color: $secondary;
}

.offers__item-text {
	color: $ternary-light;
	margin: 20px 0 30px;
}

.offers__item-desc {
	display: block;
	color: $ternary;
	text-transform: uppercase;
	padding-top: 20px;
}

.offers__item-list {
	margin: 20px 0;
}

.offers__item-item {
	padding: 10px 0;
	color: $secondary-dimmed;
}


.offers__item-btn {
	margin-left: auto;
	margin-top: auto;
	display: inline-block;
}